/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
:root{
    --black-color:#11101d;
    --white-color:#fff;
    --sky-color:#E4E9F7;
    --light-black:#1d1b31;
}
.scroll{
    display:block;
    padding:0px;
    margin-top:0px;
    overflow: scroll;        /* Sembunyikan scroll vertikal */
    overflow-y: auto;        /* Sembunyikan scroll vertikal */
      overflow-x: auto; /* Muncul scrollbar horizontal */

    }
    
    .responsive-icon {
      /* Ukuran default untuk layar desktop */
      font-size: 3rem; 
  }
body{
  position: relative;
  overflow: hidden;
}

::selection{
  color:var(--white-color);
  background: var(--black-color);
} 
.sidebar{
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:78px;
  background:var(--black-color);
  padding:6px 14px;
  z-index:99;
  transition:all 0.5s ease;
}
.sidebar.active{
  width:240px;
}
.sidebar .logo_content .logo{
  color:var(--white-color);
  display: flex;
  height:50px;
  width:100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition:all 0.5s ease;
}
.sidebar.active .logo_content .logo{
  opacity:1;
  pointer-events: none;
}
.logo_content .logo .logo_name{
  font-size: 20px;
  font-weight: 400;
}
.sidebar #btn{
  position:absolute;
  color:var(--white-color);
  top:6px;
  left:50%;
  font-size: 22px;
  height:50px;
  width:50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active #btn{
  left:90%;
}
.sidebar ul{
  margin-top:20px;
}
.sidebar ul li{
  position:relative;
  height:50px;
  width:100%;
  margin:5px 0;
  list-style: none;
  line-height: 50px;
}
.sidebar ul li .tooltip{
  position:absolute;
  left:125px;
  top:0;
  transform:translate(-50%, -50%);
  border-radius: 6px;
  height:35px;
  width:120px;
  background: var(--white-color);
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition:0s;
  opacity:0;
  pointer-events: none;
  display:block;
}
.sidebar ul li .tooltip::before{
  content:'';
  width:0;
  height:0;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-right:10px solid var(--white-color);
  position:absolute;
  left:-8px;
  top:7px;
}
.sidebar.active ul li .tooltip{
  display:none;
}
.sidebar ul li:hover .tooltip{
  transition:all 0.5s ease;
  opacity:1;
  top:50%;
}
.sidebar ul li input{
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  border-radius: 12px;
  outline:none;
  border:none;
  background: #1d1b31;
  padding-left:50px;
  font-size: 18px;
  color:var(--white-color);
}
.sidebar ul li .bx-search{
  position:relative;
  z-index: 99;
  color:var(--white-color);
  font-size: 22px;
  transition:all 0.5s ease;
}
.sidebar ul li .bx-search:hover{
  background:var(--white-color);
  color:#1d1b31;
}
.sidebar ul li a{
  color:var(--white-color);
  display:flex;
  align-items:center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  transition:all 0.4s ease;
}

.sidebar ul li a:hover{
  color:var(--black-color);
  background:var(--white-color);
}
.sidebar ul li i{
  font-size: 18px;
  font-weight: 400;
  height:50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .links_name{
  font-size: 15px;
  font-weight: 400;
  opacity:0;
  pointer-events: none;
  transition:all 0.3s ease;
}
.sidebar.active .links_name{
  transition:0s;
  opacity:1;
  pointer-events: auto;
}
.sidebar .content{
  position:absolute;
  color:var(--white-color);
  bottom:0;
  left:0;
  width:100%;
}
.sidebar .content .user{
  position:relative;
  padding:10px 6px;
  height:60px;
  background: none;
  transition:all 0.4s ease;
}
.sidebar.active .content .user{
  background:var(--light-black);
}
.content .user .user_details{
  display:flex;
  align-items:center;
  opacity:0;
  pointer-events: none;
  white-space: nowrap;
  transition:all 0.4s ease;
}
.sidebar.active .user .user_details{
  opacity:1;
  pointer-events: auto;
}
.content .user .user_details img{
  height:45px;
  width:45px;
  object-fit: cover;
  border-radius: 12px;
}
.name_job{
  margin-left:10px;
}
 .user_details .name{
  font-size: 15px;
  font-weight: 400;
}
 .user_details .job{
  font-size: 12px; 
}
 #log_out{
  position:absolute;
  bottom:5px;
  left:50%;
  transform:translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition:all 0.4s ease;
}
.sidebar.active .user #log_out{
  left:80%;
  background:none;
}
.home_content{
  font-size: 20px;
  position:absolute;
  height:72px;

  width:calc(100% - 78px);
  left:78px;
  background-color:rgb(6, 107, 6);
  padding:20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition:all 0.5s ease;
}
.sidebar.active ~ .home_content{
  z-index:100;
  width:calc(100% - 240px);
  left:240px;
}
.home_content .text{
  font-size: 25px;
  font-weight: 600;
  color:var(--light-black);
  margin-bottom:15px;
  
}
.home_content p{
  margin-bottom:18px;
  width:100%;
 
}
        
      
      

#toys-grid { 
  width:100%;
    margin-bottom: 5px;
     margin: 10% 10;
     font-size: 15px; 
     word-wrap: break-word; 
     overflow-wrap: break-word;
     font-family: "Comic Sans MS", cursive;
     border-collapse: collapse;
    

  
     


}

#toys-grid .txt-heading {
    background-color: white;

}

#toys-grid table {
  padding:0px;
  
    width: 100%;
    background-color: rgb(15, 201, 77);
       border: 0px solid black;
        color: rgb(15, 1, 1);
         font-size:8x;
        
}

#toys-grid table td {
    background-color: white;

}

.search-box {
  
  width: 100%;
    border: 0px solid black;
    background-color:whitesmoke;
    margin: 0px 0px;

}

.demoInputBox {
    padding: 10px;
    border: #F0F0F0 1px solid;
    border-radius: 10px;
    margin: 0px 5px
}
.btnSearch2 {
  background-color: green;
  color:white;
    padding: 7px;
    border: #F0F0F0 1px solid;
    border-radius: 7px;
    margin: 4px 5px;
    cursor: pointer;
}

.btnSearch {
  background-color: #0e18a1;
  color:white;
    padding: 7px;
    border: #F0F0F0 1px solid;
    border-radius: 7px;
    margin: 4px 5px;
    cursor: pointer;
}

.perpage-link {
    padding: 5px 10px;
    border: #C8EEFD 1px solid;
    border-radius: 10px;
    margin: 0px 5px;
    background: #FFF;
    cursor: pointer;
}

.current-page {
    padding: 5px 10px;
    border: #C8EEFD 1px solid;
    border-radius: 4px;
    margin: 0px 5px;
    background: #C8EEFD;
}

.btnEditAction {
    background-color: #1916c2;
  border: #F0F0F0 1px solid;
    padding: 2px 5px;
    color: #FFF;
    text-decoration: none;
}
.btnDeleteAction3 {
  background-color: #400cb8;
border: #F0F0F0 1px solid;
  padding: 2px 5px;
  color: #FFF;
  text-decoration: none;
}
.btnDeleteAction2 {
  background-color: #d68102;
border: #F0F0F0 1px solid;
  padding: 2px 5px;
  color: #FFF;
  text-decoration: none;
}

.btnDeleteAction {
    background-color: #D60202;
  border: #F0F0F0 1px solid;
    padding: 2px 5px;
    color: #FFF;
    text-decoration: none;
}

#btnAddAction {
    background-color: #2FC332;
  border-radius: 10px;
     border: #F0F0F0 1px solid;
    padding: 8px 11px;
    color: #FFF;
    gap: 10px;
    text-decoration: none;
}

#frmToy {
    border-top: #F0F0F0 1px solid;
    background: white;
    padding: p3x;
}

#frmToy div {
    margin-bottom: 15px
}

#frmToy div label {
    margin-left: 5px
}

.error {
    background-color: #FF6600;
    border: #AA4502 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 4px;
}

.info {
    font-size: .8em;
    color: #FF6600;
    letter-spacing: 2px;
    padding-left: 5px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkorange;
}

.menu li {
    float: left;
}

.menu li a{
    display: inline-block;
    color:#ffffff;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

.menu li a:hover, .sub-menu:hover {
    opacity:0.9;
    background-color: #08a07a;
}

.menu li.sub-menu {
    display: inline-block;
}

.menu .sub-menu-konten {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity:5;
}

.menu .sub-menu-konten a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu .sub-menu-konten a:hover {
    background-color: #f1f1f1;
}

.menu .sub-menu:hover .sub-menu-konten {
    display: block;
}

/*CSS Tombol Dropdown*/
.Bagian_Bawah{  
  padding:5px;
 height:300px;
  width:100%;
  background-color:rgb(7, 95, 7);
  font-size: 12px;
  position: flex; /* Menjaga elemen tetap di viewport */
   border-bottom: 2px solid #46f340;
  box-shadow: 2px 2px 9px hwb(106 6% 15%);
  border-top: 2px solid #70da2a;
  font-style: italic;
  color:white;}




