

/* Reset Margin & Padding */
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3a3a3f;
  font-family: 'Poppins', sans-serif;
}

/* Dekorasi Latar Belakang (Lingkaran Berwarna) */
.background {
  width: 430px;
  height: 560px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
/* Box Form Login */
form {
  height: 560px;
  width: 400px;
  background-color: rgba(0, 9, 0, 0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 20px 25px;
}

form * {
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

/* Styling Input */
label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(253, 248, 248, 0.07);
  border-radius: 3px;
  padding: 0px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}

/* Tombol Login */
.button {
  margin-top: 5px;
  width: 100%;
  background-color: #20b2f0;
  color: #080710;
  padding: 0px 0;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  background-color: #10d842;
  transform: scale(1.02);
}