

.frmToy{
 
  
    margin: 0 auto;
      height:500px;
      width:300px;
      text-indent: 13px; /* Mengatur indentasi 30 piksel */
        color:rgb(240, 237, 237);
	 font-family: sans-serif;
      font-size: 15px;
		}
	
body{background-color:rgb(32, 138, 11);}
	
    section{
  
    height: 300vh;
    background: url(padar-island.jpg) no-repeat;
    background-size: cover;
}
.up-icon{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(192,192,192,0.3);
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color:#ffffff;
}
.fa-chevron-circle-up{font-size: 30px;line-height: 50px;color:#01daec;}
body{
    padding: 0;
    margin:0;
    font-family: sans-serif;
    font-size: 15px;
    }
body {
    
    font-family: Arial;
    color: black;
}
.scroll{
    display:block;
    border: 1px solid red;
    padding:5px;
    margin-top:5px;
    width:300px;
    height:50px;
    overflow:scroll;
}
.auto{
     display:block;
     border: 1px solid red;
     padding:5px;
     margin-top:5px;
     
     height:50px;
     overflow:auto;
}

#toys-grid {
    margin-bottom: 7px;
}

#toys-grid .txt-heading {
    background-color:white;
}

#toys-grid table {
  
    background-color: green;
}

#toys-grid table td {
    background-color: white;
}

.search-box {
	
	 width: 90%;
    border: 1px solid black;
    background-color:#FF8C00;
    margin: 1px 0px;
}

.demoInputBox { width:96%;
    padding: 10px;
    border: #F0F0F0 1px solid;
    border-radius: 4px;
    margin: 5px 5px
}


.perpage-link {
    padding: 5px 10px;
    border: #C8EEFD 1px solid;
    border-radius: 10px;
    margin: 0px 5px;
    background: #FFF;
    cursor: pointer;
}

.current-page {
    padding: 5px 10px;
    border: #C8EEFD 1px solid;
    border-radius: 4px;
    margin: 0px 5px;
    background: #C8EEFD;
}

.btnEditAction {
    background-color: #2FC332;
	border: #F0F0F0 1px solid;
    padding: 10px 11px;
    color: #FFF;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

.btnDeleteAction {
    background-color: #D60202;
	border: #F0F0F0 1px solid;
    padding: 2px 5px;
    color: #FFF;
    text-decoration: none;
}

#btnAddAction {
    cursor: pointer;
    background-color: blue;
	border-radius: 10px;
     border: #F0F0F0 1px solid;
    padding: 10px 11px;
    color: #FFF;
    text-decoration: none;
}
